<footer class='mt-auto page-footer'>
    <hr>
    <div class="mx-auto" align='center'>
      <p class='lead text-muted'>Alexander Salmanov, 2023. Ukraine, Kharkiv. <br>Developed only for training purposes.</p>
    </div>
    <div class="d-flex justify-content-around">
      <a href="https://github.com/AlexanderSalmanov" target='_blank' style="font-size: 2em;"><i class='fa fa-github'></i> </a>
      <a href="https://twitter.com/salimann" target='_blank' style="font-size: 2em;"><i class='fa fa-twitter'></i> </a>
    </div>
</footer>
