{% load bootstrap5 %}
<div class="modal fade" id="{{modal_id}}" tabindex="-1" aria-labelledby="{{modal_label}}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="{{modal_label}}" style="color: black;">{{label_text}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="charCountRefresh();"></button>
        </div>
        <div class="modal-body" style="color: black;">
          <form id="{{form_id}}" action="{{form_action}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
          </form>
          <p class="fs-5 text-muted">
            <span class="actual">0</span>/<span class="max">140</span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="charCountRefresh();">Close</button>
          <button type="submit" form="{{form_id}}" class="btn btn-primary">Go!</button>
        </div>
      </div>
    </div>
  </div>